<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add About Section -->
        <section class="" id="">
        <div class="container mx-auto p-2">
            <h1 class="" style="color:#0f3b3c">About Us</h1>   
            <div class="row align-items-center p-2" style="background-color:#8ab0ab" >
              <div class="col-lg-6">                 
                  <h4 class="p-2" style="color:white">
                    Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h4>
             </div>
                
                <div class="col-lg-6 p-0">
                    <img src="https://media.istockphoto.com/id/1344954298/photo/family-with-dog-in-the-car.jpg?b=1&s=612x612&w=0&k=20&c=A8APCFVECjYaFvb6mj0lgHMn-9btsKqobiC0nGnutIQ=" class="img-fluid" style="">     
        </section>
        
    </body>
</html>