<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
           <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>  
    <!--Add Contact Section -->
        <section class="" id="">
        <div class="container mx-auto p-2">
            <h1 class="" style="color:#0f3b3c">Contact Us</h1>   
            <div class="row align-items-center p-2" style="background-color:#3e505b" >   
                <div class="col-lg-6 p-0">
                    <img src="https://media.istockphoto.com/id/1194980986/vector/car-showroom-colorful-vehicles-parked-outside-of-automobile-dealership.jpg?s=612x612&w=0&k=20&c=jFnmAQ00eh1c59K610NmYN42bwu1YKo0wiM4EIQtAPM=" class="img-fluid" style="">  
                </div>
                    <div class="col-lg-6 p-4" style="color:white"> 
                        <h3 >Address:</h3>                
                        <p class="">
                          <span>8000 La Peer Drive</span>
                          <span>Los Angeles CA, 90048</span>
                        </p>
                        <h3 >Phone:</h3>                
                        <p class="">
                          <span>818.224.4778</span>   
                        </p>
                   </div>    
        </section>

       <!--Add a footer here -->
    
       <footer class="fixed-bottom bg-light">
        <div class="container-fluid mx-auto p-4">
          <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </div>
  </footer>    
        
    </body>
</html>